/*

// Original CSS

ul.horizontal-list li {
  float: left;
  margin-right: 10px;
}

#header ul.nav {
  float: right;
}

#footer ul.nav {
  margin-top: 1em;
}

*/

// Reuse code in SCSS with @mixin and @include

@mixin horizontal-list {  // @mixin directive extracts the rules for horizontal-list
  li {
    float: left;
    margin-right: 10px;
  }
}

#header ul.nav {
  @include horizontal-list;  // @include directive applies the @mixin directive horizontal-list
  float: right;
}

#footer ul.nav {
  @include horizontal-list;
  margin-top: 1em;
}

/*

// Sass compiles to the following CSS.

#header ul.nav {
  float: right; }
  #header ul.nav li {
    float: left;
    margin-right: 10px; }

#footer ul.nav {
  margin-top: 1em; }
  #footer ul.nav li {
    float: left;
    margin-right: 10px; }

*/