/*
.error {
  border: 1px #f00;
  background: #fdd;
}

.error.intrusion {
  font-size: 1.2em;
  font-weight: bold;
}

.badError {
  @extend .error;
  border-width: 3px;
}
*/

.error, .badError {
  border: 1px #f00;
  background: #fdd;
}

.error.intrusion,
.badError.intrusion {
  font-size: 1.2em;
  font-weight: bold;
}

.badError {
  border-width: 3px;
}